{% extends 'base.html' %}

{% block title %}About Alex Trebek{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align:center">About Alex Trebek</h1>
    </div>

    <br/>

    <table>
  <tr>
    <th>Year</th>
    <th>Facts about the Greatest Host Of All Time</th>
  </tr>
  <tr>
    <td>1984</td>
    <td>Is hired as the host of "Jeopardy!"</td>
  </tr>
  <tr>
    <td>1989</td>
    <td>Wins his first Daytime Emmy Award for Outstanding Game Show Host for "Jeopardy!"</td>
  </tr>
  <tr>
    <td>1990</td>
    <td>Wins the Daytime Emmy Award for Outstanding Game Show Host for "Jeopardy!"</td>
  </tr>
  <tr>
    <td>1998</td>
    <td>Becomes a naturalized US citizen.</td>
  </tr>
  <tr>
    <td>May 17, 1999</td>
    <td>Receives a star on the Hollywood Walk of Fame.</td>
  </tr>
  <tr>
    <td>2001</td>
    <td>Trebek shaves off his signature mustache.</td>
  </tr>
  <tr>
    <td>2003</td>
    <td>Wins the Daytime Emmy Award for Outstanding Game Show Host for "Jeopardy!"</td>
  </tr>
  <tr>
    <td>2006</td>
    <td>Wins the Daytime Emmy Award for Outstanding Game Show Host for "Jeopardy!"</td>
  </tr>
  <tr>
    <td>2008</td>
    <td>Wins the Daytime Emmy Award for Outstanding Game Show Host for "Jeopardy!"</td>
  </tr>
  <tr>
    <td>2011</td>
    <td>Receives the Daytime Emmy Awards' Lifetime Achievement Award for his 27 years as the host of "Jeopardy!"</td>
  </tr>
  <tr>
    <td>2012</td>
    <td>Trebek and "Jeopardy!" receive the 2011 Peabody Award for "encouraging, celebrating and rewarding knowledge."</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Trebek is inducted into the Broadcasting and Cable Hall of Fame.</td>
  </tr>
  <tr>
    <td>June 13, 2014</td>
    <td>With his 6,829th appearance as the host of "Jeopardy!," Trebek breaks the Guinness World Record for hosting a game show.</td>
  </tr>
  <tr>
    <td>September 2014</td>
    <td>After a 13-year hiatus, the Trebek mustache returns. "In 2001, I shaved my mustache on a whim," Trebek tells People magazine. "This year I had a two-and-a-half-month period where we were not taping a show, so I grew it back on another whim. I like to keep my life simple."</td>
  </tr>
  <tr>
    <td>November 17, 2017</td>
    <td>Is made an officer of the Order of Canada.</td>
  </tr>
  <tr>
    <td>May 5, 2019</td>
    <td>Receives a standing ovation when he takes the stage to accept a Daytime Emmy Award for Outstanding Game Show Host for his work on "Jeopardy!"</td>
  </tr>
  <tr>
    <td>November 17, 2017</td>
    <td>Is made an officer of the Order of Canada.</td>
  </tr>
  <tr>
    <td>June 26, 2020</td>
    <td>Wins his seventh Daytime Emmy Award for Outstanding Game Show Host for "Jeopardy!"</td>
  </tr>
  <tr>
    <td>July 21, 2020</td>
    <td>Trebek's memoir, "The Answer Is...: Reflections on My Life," is published.</td>
  </tr>
</table>

{% endblock %}
